@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

.credit-cardPin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 250px;
  padding: 25px;
  border-radius: 15px;

  color: white;

  background-image: linear-gradient(25deg, #0f509e, #1399cd);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.credit-cardPin__number {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-left: 50%;
  font-family: "Titillium Web", sans-serif;
}

.credit-cardPin__number input {
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
  border-radius: 10px;
  width: 40%;
  margin-left: 70px;
  background-color: rgb(26, 128, 192);
}

.btn-success {
  cursor: pointer;
}

.credit-cardPin__info {
  display: flex;
  justify-content: space-between;

  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
}

.credit-cardPin__info_label {
  font-size: 14px;
}

.credit-cardPin__info_expiry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
